/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('figure.css');


/* Global */
html,
body {
    height: 100%;
    background: hsla(0, 0%, 98%, .2 );
}

body {
    font-family: 'Raleway', Helvetica, sans-serif; 
    color: #303030;
    color: hsl(0,5%,28%);
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-size: 16px;
}




/* ------------------- */
/*        GLOBAL       */
/* ------------------- */



a {
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}


/* Added to #header on index */
.box-shadow-bottom {
    -webkit-box-shadow: inset 1px -8px 13px -8px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: inset 1px -8px 13px -8px rgba(0, 0, 0, 0.57);
    box-shadow: inset 1px -8px 13px -8px rgba(0, 0, 0, 0.57);
} 

.spaced_words {
text-transform: uppercase;
letter-spacing: .09em;
}

hr{
    padding-bottom:15px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
}


.btn {
  padding: 12px 45px;
  text-transform: uppercase;
  letter-spacing: .09em;
  font-weight: 700;
  margin-top:20px; 
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);



}

h1, h2, h3, h4, h5, .intro { 
    font-weight: 600;
    font-family: 'Raleway', Helvetica, sans-serif; 
}







 /*        CONTAINER         */
 /* ------------------- */

.content {
    margin-bottom: 12px;
}

@media (min-width:767px){
   .content {
    /*background-color: pink;*/
    padding: 10px;
    margin-bottom: 50px;
    } 
}
.flex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: stretch;
    padding-top: 12px;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 10%;
}





 /*        NAV BAR         */
 /* ------------------- */
nav {
-webkit-box-shadow: 0px 2px 7px -1px rgba(100, 100, 100, 0.75);
-moz-box-shadow: 0px 2px 7px -1px rgba(100, 100, 100, 0.75);
box-shadow: 0px 2px 7px -1px rgba(100, 100, 100, 0.75);
}

nav .nav, nav .navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
}

nav .nav {
  letter-spacing: .09em;
}

nav .navbar-brand { 
    font-size: 1.1em;
    letter-spacing: .04em;
}
nav .navbar-brand { 
  text-transform: lowercase;
}
.navbar-default .navbar-brand{
  color: #393939;
}

.navbar-default .navbar-brand:hover{
    color: #337ab7;
    /*blue*/
}






/*         HEADER */
/*  Only on Home*/
/* ------------------- */
.header {
    width: 100%;
    height: auto;
    padding: 80px 0;
    text-align: left; 
    color: #393939;
    text-align: left;
    margin-top: 0px;
    background-color: white;
    /*background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);*/
    /*031 Blessing*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header .flex-container{
  display: flex;
}
.header .header-figure{
  order: 1;
}

.header .header-name, 
.header .header-title {
    text-transform: uppercase;
}

.header .header-name {
  font-weight: 700;
  font-size: 4.7rem;
  letter-spacing: .09em;
  padding-top: .5em;
  white-space: nowrap;
}
.header .header-title{
  font-size: 2.3rem;
  font-weight: 600;
}

.header .btn{
  background-color: hsla(245, 29%, 34%, 1);
  border: none;
  color: #F9F9F9;
  }
.header .btn:hover {
  background-color: #F9F9F9;
  border: none;
  color: hsla(245, 29%, 34%, 1);
}

.header h3{
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
/*.header .intro_message{
  font-weight: 400;
}*/

.header .header-description {
    margin-top: 15px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 24px;
}
.header .home{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    /*031 Blessing*/
}
.about .header{
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
    /*156 Witch Dance*/
}
.header .intro-body {
    display: table-cell;
}

@media (max-width: 768px) {
    .header {
        margin-top: -70px;
    }
    .header .flex-container{
      display: block;
    }
    .header .header-name{
      font-size: 3.2rem;
    }
    .header .header-text{
      text-align: center;
      order: 1;
    }
    .header .header-figure{
      order: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .figure-img{
        width: 220px;
        margin: 20px auto;
    }
}



/*Keeps portfolio images on home uniformly sized*/
.portfolio .portfolio-item{
    margin-top: 25px;
    /*margin-bottom: 15px;*/
}

.portfolio-row{
    margin-top: 30px;
}

 
#portfolio img{  
    object-fit: cover;
    /*object-position: 50% 50%;*/ /* default value: image is centered*/
    object-position: 0 0; /* positioned top left of the content box */
    height: 260.09px;
    /*height: 130px;*/
    overflow: hidden;
    width: 100%;
    background-color: white;
    background-position-y: top;
    background-position-x: right;
    display: block;
    margin: 0 auto;
}

.related img {  
    object-fit: cover;
    /*object-position: 50% 50%;*/ /* default value: image is centered*/
    object-position: 0 0;  /*positioned top left of the content box */
    height: 180px;
    overflow: hidden;
    width: 100%;
    background-color: white;
    background-position-y: top;
    background-position-x: right;
    display: block;
    margin: 0 auto;
}

.portfolio .thumbnail{
    -webkit-box-shadow: 1px 3px 13px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 13px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 13px -8px rgba(0, 0, 0, 0.75);

    -webkit-transition: all .3s ease-in .1s;
    -moz-transition: all .3s ease-in .1s;
    -ms-transition: all .3s ease-in .1s;
    -o-transition: all .3s ease-in .1s;
    transition: all .3s ease-in .1s;

    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid rgba(0, 0, 0, 0.15); 

}
.portfolio .thumbnail:hover{
    -webkit-transform: scale(1)  translate(0, 4px);
    -moz-transform: scale(1)  translate(0, 4px);
    -o-transform: scale(1)  translate(0, 4px);
    transform: scale(1)  translate(0, 4px);
}

.img-hover:hover {
    opacity: 0.8;
}
.img-portfolio {
    margin-bottom: 30px;
}
@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}

/* -----------------------------
          ABOUT ME & MISC
 -------------------------------*/

.about-text, .about-list,
.about .about-text, 
.about .about-list,
.misc .about-text,
.misc .about-list {
  font-family: Helvetica, sans-serif;
}

.about-text {
  margin-top: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 22px;
}
.about-list {
  margin-top: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

.misc-figure{
  width: 300px;
  margin: 35px auto 45px;
}

.misc .row{
  margin-bottom: 45px;
}

@media(max-width:992px) {
  .misc-hidden-row{
    display: none;
  }
}
@media(min-width:992px) {
  .misc-swap-row{
    display: none;
  }
}


/* -----------------------------
          PROJECTS
 -------------------------------*/


/*     Navigation      */
/* ------------------- */
.breadcrumb{
    background: rgba(255, 255, 255, 0);
    padding: 0;
    margin-top: 25px;
}

#breadcrumb h1{    
    font-weight: 700;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
     padding-bottom: 18px;
}
.line-height{
    line-height: 23px;
}


/*        MAIN         */
/* ------------------- */

/*.page-header{
  text-transform: uppercase;
  letter-spacing: .07em;
}
*/

.bg-primary{
    background-color: inherit;
    color: #252525;
}
#main{
    /*margin-top: 7px;        */
    /*margin-bottom: 16px;*/
    /*padding-bottom: 25px;*/
    font-size: 1.1em;
}
#main .lead{
    padding-top: 30px;
    letter-spacing: .01em; 
}
#main .intro{
    display: block;
} 
#main h3{
    letter-spacing: .01em; 
    margin-top: 27px;
}
.keywords, .details {
    line-height: 1.4em;
}
.keywords{
    margin-top: 22px;
    font-size: .95em;
    letter-spacing: .01em; 
}
.keywords b{
    text-transform: uppercase;
    letter-spacing: .12em;
}
.description{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: .95em;
}
 .description .line-height:last-child{
    line-height: ;
    padding-bottom: 12px;
}
#main #about{
    line-height: 1.6em;
    font-size: 85%;
    padding-bottom: 35px;
}
#main img {
    margin-bottom: 15px;
    /*simple dropshadow*/
    -webkit-box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);
    box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);
    }





/*  Process/Approach    */
/* ------------------- */

#process h2 {
    padding-bottom: 18px;
}
#process h3{
    text-align: left;
    letter-spacing: .01em; 
    padding-bottom: 18px;
}
#process h4{
    letter-spacing: .01em; 
    padding-bottom: 5px;
}
#process p{
    font-size: 1.1em;
    line-height: 30px;
}
#process p{
    font-size: 1.2em;
    line-height: 1.6em;
    padding-bottom: 25px;
}




/*      Examples        */

/* ------------------- */


/*      Hover         */
@media (min-width: 761px) {
    #examples h2::after {
        content: " - Hover to enlarge";
        font-size: 55%;
        color: rgba(0,0,0,.5);
        font-weight: 400;
    }
}

#examples h3{
    padding-bottom: 18px;
}

/*      Article         */
/* ------------------- */

article{
    display: table;
    margin: 20px 15px 15px 15px;
    padding-top: 30px;
    /*background: pink;*/
}

article.doc-item{
    /*color: rgb(252,253,255);*/
    /*background: #333;*/
    /*background: white;*/
    border-bottom: 1px solid rgba(0,0,0,0.09);

    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    /*border: 1px solid rgba(0, 0, 0, 0.15); */

}

#examples p{
    font-size: 1.2em;
    line-height: 1.6em;
    padding-bottom: 25px;
}
/*#examples .img-shrink{ 
    max-width: 620px;
}*/
#examples .large-img{
    max-width: 700px; 
}
#examples .large-img-h{
    max-height: 700px; 
}
#examples .large-img:hover, #examples .large-img-h:hover{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#examples .sketch, .tall-img{
    max-width: 300px;
}
#examples .tall-img{
    max-height: 600px;
    display: table;
} 
.example-item{
    border-top: 1px solid rgba(0,0,0,0.05);
}
#examples img{
    margin-bottom: 12px;
    background-color: transparent;

    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -ms-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
#examples img:hover {
    -webkit-transform: scale(1.05)  translate(0, 10px);
    -moz-transform: scale(1.05)  translate(0, 10px);
    -o-transform: scale(1.05)  translate(0, 10px);
    transform: scale(1.05)  translate(0, 10px);
    /*increase 5% and move down 10px*/
}





/*outcome*/
 
#outcome p{
    font-size: 1.2em;
    line-height: 1.6em;
    padding-bottom: 25px;
}
#outcome img{
    -webkit-box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);
    box-shadow: 7px 8px 4px -6px rgba(0,0,0,0.24);   
}
#outcome img{
    border: 1px solid rgba(0,0,0,0.5);
}
.numlist {
    padding-bottom: 10px;
    font-size: 1.15em;
}


#workproducts img{
    margin: 0 auto;
    border: 1px rgb(226, 226, 214) solid;
}


/*      FOOTER & PAGINATION      */

.pager li>a, .pager li>span{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; 
    border: none;
}

/* Footer Styles */

footer {
    margin: 50px 0;
    padding-top:15px;
    border-top: 1px solid rgba(0,0,0,0.05);
    font-size: 96%;
}

footer .about-list {
  padding-bottom: 30px;
}

/* Responsive Styles */

@media (max-width: 1100px){
    #related{ 
        display: none;
    }
}

/*LARGE Screen Size*/

@media (min-width: 761px) {
    #main{
        /*padding-bottom: 50px;*/
        /*margin-top: 25px;*/
        /*margin-bottom: 50px;*/
    }
    #main .lead{
    padding-top: 0px;
    }  

    #main .keywords{
    margin-top: 22px;
    }
    #main .line-height{
    line-height: 16px;
    }
    .description{
        padding-bottom: 0px;    
    }
    .description .line-height{
        line-height: 30px;
    }
    #process .fa-mobile{
        font-size: 1.2em;
    }

    #process h3, #examples h3, #outcome h3{
        padding-bottom: 20px;
    }

    #examples h4:first-child {
    padding-top: 0;
    }
    #examples h4{
        /*padding-top: 60px;*/
        padding-bottom: 10px;
    }
    #examples img{
    margin-bottom: 50px;
    }
}









/* -----------------------------
           Modal Styles 
 -------------------------------*/
.portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
}
.portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(73, 226, 214, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  cursor: pointer;
}
.portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
.portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  /*background-color: white;*/
  text-align: center;
  padding: 25px;
  /*border: 1px solid #e7e7e7;*/
  background-image: linear-gradient( #e7e7e7, #FAFDFD 15%); 

  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottom-right: 7px;
  -moz-border-radius-bottom-left: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;

}
.portfolio-item .portfolio-caption h4 {
    margin: 0;
    /*font-size: 1.1em;*/
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 600;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.portfolio-item .portfolio-caption p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
* {
  z-index: 1;
}

@media(min-width: 767px) {

.portfolio-item {
    margin: 0 0 30px;
    }

    .container .project-group{
    padding:0 0;
    margin-left: -10px; 
    width: auto;
    }

    .project-group h4 {
        font-size: 1.1em;
    }
    .project-group button {
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing:.1em;
    color: rgb(101, 101, 101);
    }
    .project-group h3 {
    font-size: 1.4em;
    }
}





 /* Styles for modal window */

/* ------------------- */

.top {
    padding-top: 15px;
}
.modal {
    text-align: left;
}
.modal p {
    font-size: 16px;
    line-height: 24px; 
}

.modal .modal-body a {
    font-size: 16px;
    line-height: 24px; 
    text-transform: none;
    letter-spacing: 0;
    font-weight: 600;

}

.modal a.btn{
    margin-top: 16px;
    margin-bottom: 10px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
}

.modal h4 {
    font-size: .9em;
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 80%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content .list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(232, 232, 232, 0.75);
  -moz-box-shadow: 2px 2px 8px -2px rgba(232, 232, 232, 0.75);
  box-shadow: 2px 2px 8px -2px rgba(232, 232, 232, 0.75);
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 55px;
  width: 4px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 55px;
  width: 4px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.btn-primary {
  color: white;
  background-color: #3CB9B0;
  border-color: #3CB9B0;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary .active,
.open .dropdown-toggle .btn-primary {
  color: white;
  background-color: #2F9089;
  border-color: #2B837D;
}


